@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
window.onload = function () {
    document.getElementById("btnActualizar").disabled = true;
    Obtener();
 
}
    //Obtiene los perfiles
    //Trae a vista las perfiles registradas en bd
    function Obtener() {
        var _actionURL = "/Maestros/ObtenerPerfiles";

        $.post(_actionURL, "", function (_resultado) {
            if (_resultado != null) {
                if (_resultado.Mensaje != null) {
                    document.getElementById("PanelDatos").style.visibility = 'hidden';
                    if (_resultado.TipoAlerta == 'Error') {
                        MostrarPNotify("Error", "", _resultado.Mensaje);
                    } else if (_resultado.TipoAlerta == 'Informativo') {
                        MostrarPNotify("Informativo", "", _resultado.Mensaje);
                    } else if (_resultado.TipoAlerta == 'Correcto') {
                        MostrarPNotify("Correcto", "", _resultado.Mensaje);
                    } else if (_resultado.TipoAlerta == 'NoAutenticacion' || _resultado.TipoAlerta == 'NoPermiso') {
                        MostrarPNotify("Error", "", _resultado.Mensaje);
                        location.reload();
                    }
                } else {
                    LlenarTabla(_resultado);
                }
            }
        }
        );
    }

    //Guarda los perfiles
    //Guarada en bd las pefiles ingresadas por el usuarios
    function Guardar() {
        var _nombre = document.getElementById("txtNombre").value;
        var _descripcion = document.getElementById("txtDescripcion").value;
        var _estado = document.getElementById("slEstado").value;
        var _objDatos = {};

        if (_nombre.trim() == "")
            MostrarPNotify("Error", "", "Debe ingresar el nombre");
        else if (_descripcion.trim() == "")
            MostrarPNotify("Error", "", "Debe ingresar la descripción ");
        else if (_estado == 0)
            MostrarPNotify("Error", "", "Debe ingresar el estado");
        else {
            _objDatos.IdEstado = _estado;
            _objDatos.Nombre = _nombre;
            _objDatos.Descripcion = _descripcion;

            var _actionURL = "/Maestros/GuardarPerfiles";
            BloquearPagina();
            $.post(_actionURL, _objDatos, function (_resultado) {
                DesbloquearPagina();
                if (_resultado != null) {
                    if (_resultado.Mensaje != null) {
                        document.getElementById("PanelDatos").style.visibility = 'hidden';
                        if (_resultado.TipoAlerta == 'Error') {
                            MostrarPNotify("Error", "", _resultado.Mensaje);
                        } else if (_resultado.TipoAlerta == 'Informativo') {
                            MostrarPNotify("Informativo", "", _resultado.Mensaje);
                        } else if (_resultado.TipoAlerta == 'Correcto') {
                            MostrarPNotify("Correcto", "", _resultado.Mensaje);
                        } else if (_resultado.TipoAlerta == 'NoAutenticacion' || _resultado.TipoAlerta == 'NoPermiso') {
                            MostrarPNotify("Error", "", _resultado.Mensaje);
                            location.reload();
                        }
                    } else {
                        MostrarPNotify("Correcto", "", "El registro se ha guardado exitosamente");
                        document.getElementById("txtNombre").value = "";
                        document.getElementById("txtId").value = "";
                        document.getElementById("txtDescripcion").value = "";
                        document.getElementById("slEstado").value = 0;
                        Obtener();
                    }
                }
            });
        }

    }

    //Actualiza los perfiles
    //Actualiza en bd los cambios realizados por el usuario
    function Actualizar() {
        var _id = document.getElementById("txtId").value;
        var _nombre = document.getElementById("txtNombre").value;
        var _descripcion = document.getElementById("txtDescripcion").value;
        var _estado = document.getElementById("slEstado").value;
        var _objDatos = {};

        if (_nombre.trim() == "")
            MostrarPNotify("Error", "", "Debe ingresar el nombre");
        else if (_descripcion.trim() == "")
            MostrarPNotify("Error", "", "Debe ingresar la descripción ");
        else if (_estado == 0)
            MostrarPNotify("Error", "", "Debe ingresar el estado");
        else {
            _objDatos.IdEstado = _estado;
            _objDatos.Nombre = _nombre;
            _objDatos.Descripcion = _descripcion;
            _objDatos.IdPerfil = _id;

            var _actionURL = "/Maestros/ActualizarPerfiles";
            BloquearPagina();
            $.post(_actionURL, _objDatos, function (_resultado) {
                DesbloquearPagina();
                if (_resultado != null) {
                    if (_resultado.Mensaje != null) {
                        document.getElementById("PanelDatos").style.visibility = 'hidden';
                        if (_resultado.TipoAlerta == 'Error') {
                            MostrarPNotify("Error", "", _resultado.Mensaje);
                        } else if (_resultado.TipoAlerta == 'Informativo') {
                            MostrarPNotify("Informativo", "", _resultado.Mensaje);
                        } else if (_resultado.TipoAlerta == 'Correcto') {
                            MostrarPNotify("Correcto", "", _resultado.Mensaje);
                        } else if (_resultado.TipoAlerta == 'NoAutenticacion' || _resultado.TipoAlerta == 'NoPermiso') {
                            MostrarPNotify("Error", "", _resultado.Mensaje);
                            location.reload();
                        }
                    } else {
                        MostrarPNotify("Correcto", "", "El registro se ha actualizado exitosamente");
                        document.getElementById("txtNombre").value = "";
                        document.getElementById("txtId").value = "";
                        document.getElementById("txtDescripcion").value = "";
                        document.getElementById("slEstado").value = 0;
                        document.getElementById("btnActualizar").disabled = true;
                        document.getElementById("btnGuardar").disabled = false;
                        document.getElementById("btnNuevo").disabled = false;
                        Obtener();
                    }
                }

            });

        }
    }

    //Llena informacion de la tabla con los cargos
    //recibe los datos guardados y nuevos y lo llena en una tabla
    function LlenarTabla(Datos) {
        document.getElementById("PanelDatos").style.visibility = 'hidden';
        $("#tablaDatosPerfiles").empty();
        $("#TablaPerfiles").empty();
        var _perfiles = JSON.parse(Datos);

        if (_perfiles != null && _perfiles != '') {
            document.getElementById("PanelDatos").style.visibility = 'visible';
            var tbl = $("<table/>").attr("id", "TablaPerfiles")
            tbl.attr("class", "table");
            $("#tablaDatosPerfiles").append(tbl);

            var InicioEncabezado = "<thead>"
            var InicioFila = "<tr>"
            var EncabezadoNombre = "<th class='text-bold'>Nombre</th>"
            var EncabezadoDescripcion = "<th class='text-bold'>Descripción</th>"
            var EncabezadoEstado = "<th class='text-bold'>Estado</th>"
            var FinFila = "</tr>"
            var FinEncabezado = "</thead>"

            $("#TablaPerfiles").append(InicioEncabezado + InicioFila + EncabezadoNombre + EncabezadoDescripcion + EncabezadoEstado + FinFila + FinEncabezado);

            var ContenidoAbre = '<tbody>';
            var ContenidoCierra = ' </tbody>';

            $("#TablaPerfiles").append(ContenidoAbre);
            

            var URL = "/Maestros/VerificarPermisoPerfiles";/// METODO TEMPORAL PARA DELIMITAR LAS OPCIONES DEL FORMULARIO
            $.post(URL, "", function (_resultado) {/// METODO TEMPORAL PARA DELIMITAR LAS OPCIONES DEL FORMULARIO
                if (_resultado == "false") {
                    document.getElementById("txtNombre").disabled = true;
                    document.getElementById("txtDescripcion").disabled = true;
                    document.getElementById("slEstado").disabled = true;
                    document.getElementById("btnActualizar").disabled = true;
                    document.getElementById("btnGuardar").disabled = true;
                    document.getElementById("btnNuevo").disabled = true;


                    for (var i = 0; i < _perfiles.length; i++) {
                        var InicioFila = "<tr'>";
                        var columna1 = "<td>" + _perfiles[i]["Nombre"] + "</td>";
                        var columna2 = "<td>" + _perfiles[i]["Descripcion"] + "</td>";
                        var columna3 = "<td>" + _perfiles[i]["Lista"].Valor + "</td>";
                        var FinFila = "</tr>";

                        $("#TablaPerfiles").append(InicioFila + columna1 + columna2 + columna3 + FinFila);
                    }
                    $("#TablaPerfiles").append(ContenidoCierra);
                } else {
                    for (var i = 0; i < _perfiles.length; i++) {
                        var InicioFila = "<tr ondblclick='RegistroSeleccionado(this," + _perfiles[i]['IdPerfil'] + " )'>";
                        var columna1 = "<td>" + _perfiles[i]["Nombre"] + "</td>";
                        var columna2 = "<td>" + _perfiles[i]["Descripcion"] + "</td>";
                        var columna3 = "<td>" + _perfiles[i]["Lista"].Valor + "</td>";
                        var FinFila = "</tr>";

                        $("#TablaPerfiles").append(InicioFila + columna1 + columna2 + columna3 + FinFila);
                    }
                    $("#TablaPerfiles").append(ContenidoCierra);
                }
            });
        } else {
            document.getElementById("PanelDatos").style.visibility = 'hidden';
        }
    }

    //Obtiene el id del registro seleccionado
    //toma la informacion selecccionada y lleva a los txt para actualizar
    //element infomacion del txt html, id del dato seleccionado
    function RegistroSeleccionado(element, id) {
        document.getElementById("btnActualizar").disabled = false;
        document.getElementById("btnGuardar").disabled = true;

        var _regitroSelec = element.rowIndex;
        var _tabla = document.getElementById('TablaPerfiles');
        var _celdas = _tabla.rows.item(_regitroSelec).cells;
        var _celdasLength = _celdas.length;

        document.getElementById("txtId").value = id;

        for (var contador = 0; contador < _celdasLength; contador++) {
            var _valorCelda = _celdas.item(contador).innerHTML;
            if (contador == 0) {
                document.getElementById("txtNombre").value = _valorCelda;
            } else if (contador == 1) {
                document.getElementById("txtDescripcion").value = _valorCelda;
            } else if (contador == 2) {
                if (_valorCelda.toLowerCase() == 'activo') {
                    document.getElementById("slEstado").value = 3;
                } else if (_valorCelda.toLowerCase() == 'inactivo') {
                    document.getElementById("slEstado").value = 4;
                }
            }
        }
    }

    //Inhabilita los botones y limpia los campos
    function Nuevo() {
        Limpiar();
        document.getElementById("btnActualizar").disabled = true;
        document.getElementById("btnGuardar").disabled = false;
    }

    //Limpia los campos
    //limpia los campos de los txt que estan en la vista
    function Limpiar() {
        document.getElementById("txtNombre").value = "";
        document.getElementById("txtId").value = "";
        document.getElementById("txtDescripcion").value = "";
        document.getElementById("slEstado").value = 0;
    }</script>
<div class="panel panel-white">
    <div class="panel-heading">
        <h6 class="panel-title">Datos</h6>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-toggle="modal" data-target="#ModalAyuda"><i class="icon-question6 " title="Ayuda" data-popup="tooltip" data-trigger="hover" data-placement="top"></i></a></li>
                <li><a data-action="collapse"></a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label>Nombre:</label><span class="text-danger"> *</span>
                        <input type="text" class="form-control" id="txtNombre" />
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label>Descripción:</label><span class="text-danger"> *</span>
                        <input type="text" class="form-control" id="txtDescripcion" />
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label>Estado:</label><span class="text-danger"> *</span>
                        <select name="select" class="form-control" id="slEstado">
                            <option selected="selected" value="0">-- Seleccione --</option>
                            <option value="3">Activo</option>
                            <option value="4">Inactivo</option>
                        </select>
                    </div>
                </div>

            </div>

            <br /><br />
        </div>
        <div class="row">
            <br /><br />
            <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="form-group">
                    <label style="visibility:hidden">Id:</label>
                    <input type="text" class="form-control" style="visibility:hidden" id="txtId" />
                </div>
            </div>
            <div class="col-xs-12 col-md-8 col-lg-8 text-right">
                <input type="submit" id="btnGuardar" class="btn Gt-btn-verde" value="Guardar" onclick="Guardar()" />
                <input type="submit" id="btnActualizar" class="btn Gt-btn-verde" value="Actualizar" onclick="Actualizar()" />
                <input type="submit" id="btnNuevo" class="btn Gt-btn-morado" value="Nuevo" onclick="Nuevo()" />

            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-lg-12 col-sm-12 panel panel-default" id="PanelDatos">
    <div class="panel-body ">
        <div class="table-responsive scrollTabla">
            <table id="TablaPerfiles" class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-bold">Nombre</th>
                        <th class="text-bold">Descripción</th>
                        <th class="text-bold">Estado</th>
                    </tr>
                </thead>


            </table>
        </div>
    </div>
</div>

<!-- Modal Ayuda -->
<div id="ModalAyuda" class="modal fade">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header bg-morado">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title"><i class="icon-question6"></i>  Ayuda</h6>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Todos los campos marcados con <span class="text-danger">*</span> son obligatorios.</li>
                    <li>Presione doble clic en el registro de la tabla para habilitar los botones.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn Gt-btn-morado" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--/ Fin Modal Ayuda -->
