


@if (Request.IsAuthenticated)
{
    <!-- Información del usuario-->

    <ul class="nav navbar-nav navbar-right">
        <li class="">
            <a href="/Inicio/AcercaDe" title="Acerca de" target="_blank" data-popup="tooltip" data-trigger="hover" data-placement="bottom"><i class=" icon-info22"></i></a>
        </li>
        <li class="">
            <a href="/Inicio/Salir" title="Salir" target="" data-popup="tooltip" data-trigger="hover" data-placement="bottom"><i class="icon-switch2"></i></a>
        </li>
    </ul>
    <!-- /Información del usuario-->
}

