<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <!--<add name="db_SSTEntities" connectionString="metadata=res://*/ModelCoogranada.csdl|res://*/ModelCoogranada.ssdl|res://*/ModelCoogranada.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CG19570401\SQLEXPRESS;initial catalog=db_SSTEntities;user id=Proveedores;password=Pr0v33d0r3$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="db_SSTEntities" connectionString="metadata=res://*/SSTModel.csdl|res://*/SSTModel.ssdl|res://*/SSTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-B788RRN\SQLEXPRESS;initial catalog=db_SST;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="db_SSTEntities" connectionString="metadata=res://*/SSTModel.csdl|res://*/SSTModel.ssdl|res://*/SSTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CG24600401\SQLEXPRESS;initial catalog=db_SST;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>