@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    window.onload = function () {
        var _actionURL = "/Inicio/ConsultaPerfil";
        BloquearPagina();
        $.post(_actionURL, "", function (_resultado) {
            DesbloquearPagina();
            if (_resultado != null) {
                if (_resultado.Mensaje != null) {
                    if (_resultado.TipoAlerta == 'Error') {
                        MostrarPNotify("Error", "", _resultado.Mensaje);
                    } else if (_resultado.TipoAlerta == 'Informativo') {
                        MostrarPNotify("Informativo", "", _resultado.Mensaje);
                    } else if (_resultado.TipoAlerta == 'Correcto') {
                        MostrarPNotify("Correcto", "", _resultado.Mensaje);
                    } else if (_resultado.TipoAlerta == 'NoAutenticacion' || _resultado.TipoAlerta == 'NoPermiso') {
                        MostrarPNotify("Error", "", _resultado.Mensaje);
                        location.reload();
                    }
                } else {
                    LlenarDatos(_resultado);
                }
            }
        })
    }

    function LlenarDatos(Datos) {
        var _datos = JSON.parse(Datos);
        if (_datos != null) {
            var _fechaNacimiento = _datos.FechaNacimiento;
            var _caracteres = /-?\d+/;
            var _valor = _caracteres.exec(_fechaNacimiento);
            var _fecha = new Date(parseInt(_valor[0]));
            var _dia = _fecha.getDate();
            var _mes = ("0" + (_fecha.getMonth() + 1)).slice(-2);
            var _ano = _fecha.getFullYear();


            document.getElementById("txtNombre").value = _datos.Nombre;
            document.getElementById("txtTipoDocumento").value = _datos.TipoDocumento;
            document.getElementById("txtIdentificacion").value = _datos.Documento;
            document.getElementById("txtFechaNto").value = _ano + "-" + _mes + "-" + _dia;
            document.getElementById("txtUsuario").value = _datos.Usuario;

            document.getElementById("txtTipoUsuario").value = _datos.TipoUsuario;
            document.getElementById("txtOficina").value = _datos.Oficina;
            document.getElementById("txtArea").value = _datos.Area;
            document.getElementById("txtCargo").value = _datos.Cargo;
            document.getElementById("txtExtension").value = _datos.Extension;
            document.getElementById("txtEmail").value = _datos.Email;

        }
    }
</script>

<div class="row">
    <div class="col-lg-7 col-lg-offset-2">
        <div class="panel registration-form">
            <div class="panel-body">
                <div class="text-center">
                    <div class="icon-object border_morado texto_morado"><i class=" icon-users2"></i></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="col-xs-6 col-md-6 col-lg-6">
                            <label><i class="icon-user"></i> Nombre:</label>
                            <input type="text" class="form-control" id="txtNombre" readonly="readonly" />
                        </div>
                        <div class="col-xs-6 col-md-6 col-lg-6">
                            <label><i class="icon-user"></i> Usuario:</label>
                            <input type="text" class="form-control" id="txtUsuario" readonly="readonly" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="col-xs-6 col-md-6 col-lg-6">
                            <label><i class=" icon-vcard"></i> Tipo Identificación:</label>
                            <input type="text" class="form-control" id="txtTipoDocumento" readonly="readonly" />
                        </div>
                        <div class="col-xs-6 col-md-6 col-lg-6">
                            <label><i class=" icon-vcard"></i> Identificación:</label>
                            <input type="text" class="form-control" id="txtIdentificacion" readonly="readonly" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="col-xs-6 col-md-6 col-lg-6">
                            <label><i class=" icon-calendar"></i> Fecha de nacimiento:</label>
                            <input type="text" class="form-control" id="txtFechaNto" readonly="readonly" />
                        </div>

                        <div class="col-xs-6 col-md-6 col-lg-6">
                            <label><i class=" icon-users2"></i> Tipo Usuario:</label>
                            <input type="text" class="form-control" id="txtTipoUsuario" readonly="readonly" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="col-xs-6 col-md-6 col-lg-6">
                            <label><i class="icon-collaboration"></i> Oficina:</label>
                            <input type="text" class="form-control" id="txtOficina" readonly="readonly" />
                        </div>
                        <div class="col-xs-6 col-md-6 col-lg-6">
                            <label><i class="icon-collaboration"></i> Área:</label>
                            <input type="text" class="form-control" id="txtArea" readonly="readonly" />
                        </div>
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="col-xs-6 col-md-6 col-lg-6">
                            <label><i class=" icon-user-tie"></i> Cargo:</label>
                            <input type="text" class="form-control" id="txtCargo" readonly="readonly" />
                        </div>

                        <div class="col-xs-6 col-md-6 col-lg-6">
                            <label><i class=" icon-phone2"></i> Extensión:</label>
                            <input type="text" class="form-control" id="txtExtension" readonly="readonly" />
                        </div>
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">

                        <div class="col-xs-6 col-md-6 col-lg-6">
                            <label><i class=" icon-envelop3"></i> Email:</label>
                            <input type="text" class="form-control" id="txtEmail" readonly="readonly" />
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
