/*Panel encabezado*/
/*Panel encabezado*/
.Gt-ColorMorado {
    background-color: rgb(160,0,87);
    border-color: rgb(160,0,87);
    color: #fff;
}
/*Fin Panel encabezado*/

/*Active del menu*/
.sidebar-default .navigation > li.active > a,
.sidebar-default .navigation > li.active > a:hover,
.sidebar-default .navigation > li.active > a:focus {
    background-color: rgba(160,0,87, 0.20);
    color: #333333;
}
/*Fin Active del menu*/

/*Boton color verde*/
.Gt-btn-verde {
    color: #fff;
    background-color: rgb(13,165,80);
    border-color: rgb(13,165,80);
}
    /*Fin Boton color verde*/

    /*Hover del boton color verde*/
    .Gt-btn-verde:hover {
        color: #fff;
        background-color: rgba(13,165,80,0.50);
        border-color: rgba(13,165,80,0.50);
    }
/*Fin Hover del boton color verde*/

/*Boton color morado*/
.Gt-btn-morado {
    color: #fff;
    background-color: rgb(160,0,87);
    border-color: rgb(160,0,87);
}
    /*Fin Boton color morado*/

    /*Hover del boton color morado*/
    .Gt-btn-morado:hover {
        color: #fff;
        background-color: rgba(160,0,87, 0.50);
        border-color: rgba(160,0,87, 0.50);
    }
/*Fin Hover del boton color morado*/

/*Linea progress de la parte inicial de la pagina*/
.pace .pace-progress {
    background: rgb(13,165,80) !important;
    position: fixed !important;
    z-index: 2000 !important;
    top: 0 !important;
    width: 100% !important;
    right: 100% !important;
    height: 2px !important;
}
/*Fin Linea progress de la parte inicial de la pagina*/

/*Tamaño de las imagenes de la pagina Aplicaciones colaborativas*/
.imagenesAppColaborativas {
    height: 132px !important;
}
/*Fin tamaño de las imagenes de la pagina Aplicaciones colaborativas*/

/*Botón de la pagina Aplicaciones colaborativas*/
.btnAppColaborativas {
    text-align: center !important;
    padding-bottom: 20px;
    padding-top: 10px;
}
/*Botón de la pagina Aplicaciones colaborativas*/

/*Logo del panel el encabezado*/
.navbar-brand > img {
    margin-top: -10px !important;
    height: 42px !important;
}
/*Fin logo del panel el encabezado*/

/*Alerta mayúscula*/
.alerta_mayuscula {
    color: rgb(251,234,38);
    text-shadow: 1px 1px 1px black;
}
/*Fin alerta mayúscula*/

/*Texto de color negro*/
.texto_negro {
    color: #901569 !important;
}
/*Fin texto de color negro*/

/*Borde de color morado*/
.border_morado {
    border-color: rgb(160,0,87);
}
/*Fin borde de color morado*/

/*Texto de color morado*/
.texto_morado {
    color: rgb(160,0,87);
}
/*Fin Texto de color morado*/

/*Borde de color amarillo*/
.border_amarillo {
    border-color: rgb(251,234,38);
}
/*Fin Borde de color amarillo*/

/*Texto de color amarillo*/
.texto_amarillo {
    color: rgb(251,234,38);
}
/*Fin texto de color amarillo*/

/*Borde de color verde*/
.border_verde {
    border-color: rgb(13,165,80) !important;
}
/*Fin borde de color verde*/


/*Texto de color verde*/
.texto_verde {
    color: rgb(13,165,80) !important;
}
/*Fin Texto de color verde*/

/*Color informativo*/
.bg-informativo {
    background-color: rgb(251,234,38);
    border-color: rgb(251,234,38);
    color: #fff;
}
/*Fin Color informativo*/

/*Color correcto*/
.bg-correcto {
    background-color: rgb(13,165,80);
    border-color: rgb(13,165,80);
    color: #fff;
}
/*Fin color correcto*/

/*Color morado*/
.bg-morado {
    background-color: rgb(160,0,87);
    border-color: rgb(160,0,87);
    color: #fff;
}
/*Fin Color morado*/

.bg-verde {
    background-color: rgb(13,165,80);
    border-color: rgb(13,165,80);
    color: #fff;
}

/*Scroll tabla*/
.scrollTabla {
    max-height: 500px;
    overflow-y: scroll;
}
/*Scroll tabla*/

/*Color del focus del campo*/
.form-control:focus {
    outline: 0;
    border-color: transparent;
    border-bottom-color: rgb(13,165,80) !important;
    -webkit-box-shadow: 0 1px 0 rgb(13,165,80) !important;
    box-shadow: 0 1px 0 rgb(13,165,80) !important;
}
/*Fin Color del focus del campo*/

/*Color verde de la parte inferior del tab*/
.colorBottomTab {
    border-bottom: 1px solid rgb(13,165,80) !important;
}
    /*Fin Color verde de la parte inferior del tab*/



    /* Color verde de la parte izquierda del tab*/
    .colorBottomTab > li.active > a,
    .colorBottomTab > li.active > a:hover,
    .colorBottomTab > li.active > a:focus {
        border-width: 0 0 0 2px;
        border-left-color: rgb(13,165,80) !important;
        background-color: #f5f5f5;
    }

        /*Fin Color verde de la parte izquierda del tab*/


        .colorBottomTab > li.active > a:after {
            background-color: rgb(13,165,80) !important;
        }


/* Texto del tab cuando esta en responsive movil*/
.nav-tabs:before {
    content: '' !important;
    color: inherit !important;
    margin-top: 7px !important;
    margin-left: 16px !important;
    margin-bottom: 15px !important;
    opacity: 0.5 !important;
    filter: alpha(opacity=50) !important;
}
/*Fin Texto del tab cuando esta en responsive movil*/

/*Bloqueo de la pagina cuando se hace una peticion*/
.Cargando {
    background-color: #455A64;
    color: #fff;
    border-radius: 3px;
    padding: 15px 15px 10px 15px;
}

    .Cargando > i {
        display: block;
        margin-bottom: 10px;
    }
/*Fin bloqueo de la pagina cuando se hace una peticion*/

/*Border para la tabla*/
.tablaBorder {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
/*Fin border para la tabla*/

/*Color del dia del calendario seleccionado*/
.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
    background-color: rgb(160,0,87) !important;
}

.picker__day--highlighted,
.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted {
    background-color: rgb(160,0,87) !important;
}

.picker__day--today:before {
    border-top: 6px solid rgb(160,0,87) !important;
}

.picker__button--today:before {
    border-top: 6px solid rgb(13,165,80) !important;
}
/*Fin Color del dia del calendario seleccionado*/

/*Campo Checkbox*/
.CampoCheckbox {
    background-color: #f5f5f5 !important;
    border-color: #f5f5f5 !important;
    color: #fff !important;
    padding: 8px 16px !important;
    font-size: 13px !important;
    font-weight: normal !important;
    line-height: 1 !important;
    text-align: center !important;
    border-radius: 3px !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    display: table-cell !important;
}
/*Fin Campo Checkbox*/

/*Firma del reporte GMF*/
.firma {
    padding: 0px 0px !important;
    vertical-align: top !important;
    border-top: 1px solid #bdb0b0 !important;
}
/*Fin Firma del reporte GMF*/

/*Huella del reporte GMF*/
.huellaDactilar {
    border: 1px solid #bdb0b0 !important;
    padding: 0px 0px !important;
    vertical-align: top !important;
}
/*Fin Huella del reporte GMF*/

/*Tabla del reporte GMF*/
.tablaGMF {
    border: 1px solid #bdb0b0 !important;
}
/*Fin Tabla del reporte GMF*/

/*Modal del GMF*/
.modalGmf {
    width: 700px !important;
}
/*Fin Modal del GMF*/

/*Imagen del reporte GMF*/
.imagenGmf {
    width: 100%;
}
/*Imagen del reporte GMF*/

/*Alerta del GMF*/
.alertaGmf {
    background-color: rgba(160, 0, 87, 0.13);
    border-color: rgba(160, 0, 87, 0.13);
    color: rgb(160,0,87);
}
/*Alerta del GMF*/





.modalConciliacionComisiones {
    width: 1200px !important;
}
.imagenConciliacionComisiones {
    width: 60%;
}
.tablaConciliacionComisiones {
    border: 1px solid #bdb0b0 !important;
}






.table-sinBorder {
    border: 0px !important;
}

.modalRetiro {
    width: 850px !important;
}
